<div class="bg-white border rounded-md p-4 shadow-sm">
  <div class="flex justify-between">
    <div>
      <span class="font-semibold">Dec 21, 2022</span>
      <div class="text-xs text-gray-700 mt-1">
        <time datetime="">05:00</time>
        <span>-</span>
        <time datetime="">05:30</time>
      </div>
    </div>

    <div class="flex items-center space-x-2">
      <button type="button" class="inline-flex align-items-center py-1 px-3 text-sm rounded-md border border-blue-500 shadow bg-blue-500 text-white font-medium hover:bg-blue-600 transition duration-150 active:bg-blue-700 focus-visible:outline-none focus-visible:ring-2 focus-visible-ring-blue-600">
        Start
      </button>

      <button
        type="button"
        class="inline-flex items-center p-1 border rounded text-gray-700 hover:bg-gray-200 hover:text-gray-900 focus-visible:outline-none focus-visible:bg-gray-200 focus-visible:text-gray-900"
      >
        {{svg-jar "more" class="h-5 w-5" fill="currentColor"}}
      </button>
    </div>
  </div>
</div>
