<div ...attributes>
  {{yield (hash
    Button=(component
      "dropdown/button"
      isActive=this.isActive
      toggleMenu=this.toggleMenu
      buttonId=this.buttonId
      menuId=this.menuId
      navigate=this.navigate
      openMenu=this.openMenu
      closeMenu=this.closeMenu
    )
    Menu=(component
      "dropdown/menu"
      isActive=this.isActive
      buttonId=this.buttonId
      menuId=this.menuId
      closeMenu=this.closeMenu
      registerItem=this.registerItem
      unregisterItem=this.unregisterItem
      setActiveItem=this.setActiveItem
      activeItem=this.activeItem
      navigate=this.navigate
      reset=this.reset
    )
  )}}
</div>
